[Unit]
Description=Trojan management
Documentation=https://github.com/drunksoul2021/trojan
After=network-online.target docker.service
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/local/bin/trojan web --host 127.0.0.1 --port 80
Restart=on-failure
RestartSec=5
UMask=0077

[Install]
WantedBy=multi-user.target
